### Introduction

CoinMarketCap (https://coinmarketcap.com) is great resource of the cryptocurrencies data, including price, market capitalization, volume, circulating supply, maximum supply, etc... 

Subscribtion to a paid plan gives access to more market data endpoints.

This experiment will reproduce fetching crypto data from CoinMarketCap API (free basic plan) with Python.

### References:

*   "CoinMarketCap API - An Introductory Guide" by Igor Radovanovic available [at this link;](https://algotrading101.com/learn/coinmarketcap-api-guide/)

*   "CoinMarketCap-API-An-Introductory-Guide" by Lucas Liew [at the link;](https://github.com/Lucas170/CoinMarketCap-API-An-Introductory-Guide)
*   CoinMarketCap API Documentation is available [at this link;](https://coinmarketcap.com/api/documentation/v1/)

*   CoinMarketCap (CMC) API can be found at the [following link;](https://coinmarketcap.com/api/)

* Signing up as CoinMarketCap developer can be made [here;](https://pro.coinmarketcap.com/signup/) 

* CoinMarketCap Metric Methodologies are available at [this link](https://support.coinmarketcap.com/hc/en-us/sections/360008888252-Metric-Methodologies);

### Setup

In [1]:
# First, let's install coinmarketcap library:
!pip install python-coinmarketcap

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting python-coinmarketcap
  Downloading python_coinmarketcap-0.3-py3-none-any.whl (8.5 kB)
Installing collected packages: python-coinmarketcap
Successfully installed python-coinmarketcap-0.3

In [2]:
# Let's import coinmarketcap library and set the client:
import coinmarketcapapi
cmc = coinmarketcapapi.CoinMarketCapAPI('YOUR_API_KEY')

In [3]:
data = cmc.cryptocurrency_info(symbol='ETH')
data

RESPONSE: 385ms OK: {'ETH': {'id': 1027, 'name': 'Ethereum', 'symbol': 'ETH', 'category': 'coin', 'description': 'Ethereum (ETH) is a cryptocurrency . Ethereum has a current supply of 122,373,863.499. The last known price of Ethereum is 1,282.11637067 USD and is down -0.82 over the last 24 hours. It is currently trading on 6144 active market(s) with $8,477,314,406.79 traded over the last 24 hours. More information can be found at https://www.ethereum.org/.', 'slug': 'ethereum', 'logo': 'https://s2.coinmarketcap.com/static/img/coins/64x64/1027.png', 'subreddit': 'ethereum', 'notice': '', 'tags': ['pos', 'smart-contracts', 'ethereum-ecosystem', 'coinbase-ventures-portfolio', 'three-arrows-capital-portfolio', 'polychain-capital-portfolio', 'binance-labs-portfolio', 'blockchain-capital-portfolio', 'boostvc-portfolio', 'cms-holdings-portfolio', 'dcg-portfolio', 'dragonfly-capital-portfolio', 'electric-capital-portfolio', 'fabric-ventures-portfolio', 'framework-ventures-portfolio', 'hashkey-capital-portfolio', 'kenetic-capital-portfolio', 'huobi-capital-portfolio', 'alameda-research-portfolio', 'a16z-portfolio', '1confirmation-portfolio', 'winklevoss-capital-portfolio', 'usv-portfolio', 'placeholder-ventures-portfolio', 'pantera-capital-portfolio', 'multicoin-capital-portfolio', 'paradigm-portfolio', 'injective-ecosystem'], 'tag-names': ['PoS', 'Smart Contracts', 'Ethereum Ecosystem', 'Coinbase Ventures Portfolio', 'Three Arrows Capital Portfolio', 'Polychain Capital Portfolio', 'Binance Labs Portfolio', 'Blockchain Capital Portfolio', 'BoostVC Portfolio', 'CMS Holdings Portfolio', 'DCG Portfolio', 'DragonFly Capital Portfolio', 'Electric Capital Portfolio', 'Fabric Ventures Portfolio', 'Framework Ventures Portfolio', 'Hashkey Capital Portfolio', 'Kenetic Capital Portfolio', 'Huobi Capital Portfolio', 'Alameda Research Portfolio', 'a16z Portfolio', '1Confirmation Portfolio', 'Winklevoss Capital Portfolio', 'USV Portfolio', 'Placeholder Ventures Portfolio', 'Pantera Capital Portfolio', 'Multicoin Capital Portfolio', 'Paradigm Portfolio', 'Injective Ecosystem'], 'tag-groups': ['ALGORITHM', 'CATEGORY', 'PLATFORM', 'CATEGORY', 'CATEGORY', 'CATEGORY', 'CATEGORY', 'CATEGORY', 'CATEGORY', 'CATEGORY', 'CATEGORY', 'CATEGORY', 'CATEGORY', 'CATEGORY', 'CATEGORY', 'CATEGORY', 'CATEGORY', 'CATEGORY', 'CATEGORY', 'CATEGORY', 'CATEGORY', 'CATEGORY', 'CATEGORY', 'CATEGORY', 'CATEGORY', 'CATEGORY', 'CATEGORY', 'PLATFORM'], 'urls': {'website': ['https://www.ethereum.org/', 'https://en.wikipedia.org/wiki/Ethereum'], 'twitter': ['https://twitter.com/ethereum'], 'message_board': ['https://forum.ethereum.org/', 'https://ethresear.ch/'], 'chat': ['https://gitter.im/orgs/ethereum/rooms'], 'facebook': [], 'explorer': ['https://etherscan.io/', 'https://ethplorer.io/', 'https://blockchair.com/ethereum', 'https://bscscan.com/token/0x2170ed0880ac9a755fd29b2688956bd959f933f8', 'https://eth.tokenview.com/en/blocklist'], 'reddit': ['https://reddit.com/r/ethereum'], 'technical_doc': ['https://github.com/ethereum/wiki/wiki/White-Paper'], 'source_code': ['https://github.com/ethereum/go-ethereum'], 'announcement': ['https://bitcointalk.org/index.php?topic=428589.0']}, 'platform': None, 'date_added': '2015-08-07T00:00:00.000Z', 'twitter_username': 'ethereum', 'is_hidden': 0, 'date_launched': None, 'contract_address': [{'contract_address': '0x2170ed0880ac9a755fd29b2688956bd959f933f8', 'platform': {'name': 'BNB Smart Chain (BEP20)', 'coin': {'id': '1839', 'name': 'BNB', 'symbol': 'BNB', 'slug': 'bnb'}}}, {'contract_address': '0x64ff637fb478863b7468bc97d30a5bf3a428a1fd', 'platform': {'name': 'HECO', 'coin': {'id': '2502', 'name': 'Huobi Token', 'symbol': 'HT', 'slug': 'huobi-token'}}}, {'contract_address': '0xf20d962a6c8f70c731bd838a3a388d7d48fa6e15', 'platform': {'name': 'Avalanche C-Chain', 'coin': {'id': '5805', 'name': 'Avalanche', 'symbol': 'AVAX', 'slug': 'avalanche'}}}, {'contract_address': '0x2eaa73bd0db20c64f53febea7b5f5e5bccc7fb8b', 'platform': {'name': 'TomoChain', 'coin': {'id': '2570', 'name': 'TomoChain', 'symbol': 'TOMO', 'slug': 'tomochain'}}}, {'contract_address': '0x0200070000000000000000000000000000000000000000000000000000000000', 'platform': {'name': 'Sora', 'coin': {'id': '5802', 'name': 'SORA', 'symbol': 'XOR', 'slug': 'sora'}}}, {'contract_address': '0x1D931Bf8656d795E50eF6D639562C5bD8Ac2B78f', 'platform': {'name': 'RSK RBTC', 'coin': {'id': '3626', 'name': 'RSK Smart Bitcoin', 'symbol': 'RBTC', 'slug': 'rsk-smart-bitcoin'}}}, {'contract_address': '0x85219708c49aa701871ad330a94ea0f41dff24ca', 'platform': {'name': 'Velas', 'coin': {'id': '4747', 'name': 'Velas', 'symbol': 'VLX', 'slug': 'velas'}}}, {'contract_address': '2FPyTwcZLUg1MDrwsyoP4D6s1tM7hAkHYRjkNb5w6Pxk', 'platform': {'name': 'Solana', 'coin': {'id': '5426', 'name': 'Solana', 'symbol': 'SOL', 'slug': 'solana'}}}, {'contract_address': '0x34d21b1e550d73cee41151c77f3c73359527a396', 'platform': {'name': 'Klaytn', 'coin': {'id': '4256', 'name': 'Klaytn', 'symbol': 'KLAY', 'slug': 'klaytn'}}}, {'contract_address': 'aurora', 'platform': {'name': 'Near', 'coin': {'id': '6535', 'name': 'NEAR Protocol', 'symbol': 'NEAR', 'slug': 'near-protocol'}}}, {'contract_address': 'KT19at7rQUvyjxnZ2fBv7D9zc8rkyG7gAoU8', 'platform': {'name': 'Tezos', 'coin': {'id': '2011', 'name': 'Tezos', 'symbol': 'XTZ', 'slug': 'tezos'}}}, {'contract_address': '0x34a9c05b638020a07bb153bf624c8763bf8b4a86', 'platform': {'name': 'ETHW', 'coin': {'id': '21296', 'name': 'EthereumPoW', 'symbol': 'ETHW', 'slug': 'ethereum-pow'}}}], 'self_reported_circulating_supply': None, 'self_reported_tags': None, 'self_reported_market_cap': None}}

In [4]:
data_id_map = cmc.cryptocurrency_map()

In [7]:
# putting the data into more readable format as DataFrame:
from IPython.display import display
import pandas as pd
df = pd.DataFrame(data_id_map.data)
df.set_index('symbol',inplace=True)
display(df)

,id,name,slug,rank,displayTV,is_active,first_historical_data,last_historical_data,platform
symbol,,,,,,,,,
BTC,1,Bitcoin,bitcoin,1,1,1,2013-04-28T18:47:21.000Z,2022-10-21T08:39:00.000Z,None
LTC,2,Litecoin,litecoin,20,1,1,2013-04-28T18:47:22.000Z,2022-10-21T08:39:00.000Z,None
NMC,3,Namecoin,namecoin,647,1,1,2013-04-28T18:47:22.000Z,2022-10-21T08:39:00.000Z,None
TRC,4,Terracoin,terracoin,1692,1,1,2013-04-28T18:47:22.000Z,2022-10-21T08:39:00.000Z,None
PPC,5,Peercoin,peercoin,682,1,1,2013-04-28T18:47:23.000Z,2022-10-21T08:39:00.000Z,None
...,...,...,...,...,...,...,...,...,...
LAEEB,22329,Laeeb Inu,laeebinu,2935,1,1,2022-10-21T08:36:00.000Z,2022-10-21T08:36:00.000Z,"{'id': 1027, 'name': 'Ethereum', 'symbol': 'ET..."
BAO,22330,BAO,bao-token,2862,1,1,2022-10-21T08:35:00.000Z,2022-10-21T08:35:00.000Z,"{'id': 1839, 'name': 'BNB', 'symbol': 'BNB', '..."
CLOUD,22332,CloudTx,cloudtx,4918,1,1,2022-10-21T07:06:00.000Z,2022-10-21T08:36:00.000Z,"{'id': 1839, 'name': 'BNB', 'symbol': 'BNB', '..."
S-P-E,22333,Planet Earth Saver,planet-earth-saver,4027,1,1,2022-10-21T08:37:00.000Z,2022-10-21T08:37:00.000Z,"{'id': 1839, 'name': 'BNB', 'symbol': 'BNB', '..."
CMPN,22337,Companion,companion,6820,1,1,2022-10-21T08:39:00.000Z,2022-10-21T08:39:00.000Z,"{'id': 5426, 'name': 'Solana', 'symbol': 'SOL'..."

In [10]:
# let's get the latest market quote:
data_quote = cmc.cryptocurrency_quotes_latest(symbol='ETH', convert='USD')

In [11]:
data_quote

RESPONSE: 316ms OK: {'ETH': {'id': 1027, 'name': 'Ethereum', 'symbol': 'ETH', 'slug': 'ethereum', 'num_market_pairs': 6144, 'date_added': '2015-08-07T00:00:00.000Z', 'tags': ['pos', 'smart-contracts', 'ethereum-ecosystem', 'coinbase-ventures-portfolio', 'three-arrows-capital-portfolio', 'polychain-capital-portfolio', 'binance-labs-portfolio', 'blockchain-capital-portfolio', 'boostvc-portfolio', 'cms-holdings-portfolio', 'dcg-portfolio', 'dragonfly-capital-portfolio', 'electric-capital-portfolio', 'fabric-ventures-portfolio', 'framework-ventures-portfolio', 'hashkey-capital-portfolio', 'kenetic-capital-portfolio', 'huobi-capital-portfolio', 'alameda-research-portfolio', 'a16z-portfolio', '1confirmation-portfolio', 'winklevoss-capital-portfolio', 'usv-portfolio', 'placeholder-ventures-portfolio', 'pantera-capital-portfolio', 'multicoin-capital-portfolio', 'paradigm-portfolio', 'injective-ecosystem'], 'max_supply': None, 'circulating_supply': 122373863.499, 'total_supply': 122373863.499, 'is_active': 1, 'platform': None, 'cmc_rank': 2, 'is_fiat': 0, 'self_reported_circulating_supply': None, 'self_reported_market_cap': None, 'tvl_ratio': None, 'last_updated': '2022-10-21T08:55:00.000Z', 'quote': {'USD': {'price': 1278.5732113368113, 'volume_24h': 10125766051.17057, 'volume_change_24h': 19.5747, 'percent_change_1h': -0.53088269, 'percent_change_24h': -1.12624926, 'percent_change_7d': -3.2383626, 'percent_change_30d': -3.78290226, 'percent_change_60d': -17.671385, 'percent_change_90d': -18.20054538, 'market_cap': 156463943637.609, 'market_cap_dominance': 17.2531, 'fully_diluted_market_cap': 156463943637.61, 'tvl': None, 'last_updated': '2022-10-21T08:55:00.000Z'}}}}

In [12]:
# let's put this in pandas DataFrame:
df_ETH = pd.DataFrame(data_quote.data)
display(df_ETH)

                                                                                ETH
circulating_supply                                                    122373863.499
cmc_rank                                                                          2
date_added                                                 2015-08-07T00:00:00.000Z
id                                                                             1027
is_active                                                                         1
is_fiat                                                                           0
last_updated                                               2022-10-21T08:55:00.000Z
max_supply                                                                     None
name                                                                       Ethereum
num_market_pairs                                                               6144
platform                                                                       None
quote                             {'USD': {'price': 1278.5732113368113, 'volume_...
self_reported_circulating_supply                                               None
self_reported_market_cap                                                       None
slug                                                                       ethereum
symbol                                                                          ETH
tags                              [pos, smart-contracts, ethereum-ecosystem, coi...
total_supply                                                          122373863.499
tvl_ratio                                                                      None

In [13]:
# Now let's obtain a list of active cryptocurrencies with their latest market data:
data_listing = cmc.cryptocurrency_listings_latest()

In [16]:
# let's display the data_listing as DataFrame:
df_listing = pd.DataFrame(data_listing.data)
df_listing.head()

,id,name,symbol,slug,num_market_pairs,date_added,tags,max_supply,circulating_supply,total_supply,platform,cmc_rank,self_reported_circulating_supply,self_reported_market_cap,tvl_ratio,last_updated,quote
0,1,Bitcoin,BTC,bitcoin,9791,2013-04-28T00:00:00.000Z,"[mineable, pow, sha-256, store-of-value, state...",21000000.0,1.918519e+07,1.918519e+07,None,1,NaN,NaN,NaN,2022-10-21T08:57:00.000Z,"{'USD': {'price': 18990.313166793258, 'volume_..."
1,1027,Ethereum,ETH,ethereum,6144,2015-08-07T00:00:00.000Z,"[pos, smart-contracts, ethereum-ecosystem, coi...",NaN,1.223739e+08,1.223739e+08,None,2,NaN,NaN,NaN,2022-10-21T08:57:00.000Z,"{'USD': {'price': 1278.2380062866878, 'volume_..."
2,825,Tether,USDT,tether,41119,2015-02-25T00:00:00.000Z,"[payments, stablecoin, asset-backed-stablecoin...",NaN,6.845266e+10,7.014613e+10,"{'id': 1027, 'name': 'Ethereum', 'symbol': 'ET...",3,NaN,NaN,NaN,2022-10-21T08:57:00.000Z,"{'USD': {'price': 0.9999955389828514, 'volume_..."
3,3408,USD Coin,USDC,usd-coin,6572,2018-10-08T00:00:00.000Z,"[medium-of-exchange, stablecoin, asset-backed-...",NaN,4.388835e+10,4.388835e+10,"{'id': 1027, 'name': 'Ethereum', 'symbol': 'ET...",4,NaN,NaN,NaN,2022-10-21T08:56:00.000Z,"{'USD': {'price': 0.9999904325485309, 'volume_..."
4,1839,BNB,BNB,bnb,1129,2017-07-25T00:00:00.000Z,"[marketplace, centralized-exchange, payments, ...",200000000.0,1.599811e+08,1.599811e+08,None,5,NaN,NaN,NaN,2022-10-21T08:57:00.000Z,"{'USD': {'price': 266.2531008320984, 'volume_2..."

In [17]:
# As next, let's get fiat data:
fiat = cmc.fiat_map()

In [20]:
df_fiat = pd.DataFrame(fiat.data)
df_fiat.head()

     id                  name sign symbol
0  2781  United States Dollar    $    USD
1  2782     Australian Dollar    $    AUD
2  2783        Brazilian Real   R$    BRL
3  2784       Canadian Dollar    $    CAD
4  2785           Swiss Franc   Fr    CHF

In [22]:
# The CMC global-metrics have 2 endpoints: historical and the latest qoutes.  
# As part of the basic plan, only the latest quotes are available:
global_metrics = cmc.globalmetrics_quotes_latest()

In [23]:
df_global_metrics = pd.DataFrame(global_metrics.data)
df_global_metrics.head()

,active_cryptocurrencies,total_cryptocurrencies,active_market_pairs,active_exchanges,total_exchanges,eth_dominance,btc_dominance,eth_dominance_yesterday,btc_dominance_yesterday,eth_dominance_24h_percentage_change,...,defi_24h_percentage_change,stablecoin_volume_24h,stablecoin_volume_24h_reported,stablecoin_market_cap,stablecoin_24h_percentage_change,derivatives_volume_24h,derivatives_volume_24h_reported,derivatives_24h_percentage_change,quote,last_updated
USD,9469,21450,58460,527,3935,17.250081,40.159851,17.218454,39.979169,0.031627,...,-10.027205,4.376034e+10,1.423882e+11,1.447638e+11,7.893228,1.561751e+11,1.561751e+11,6.405585,"{'total_market_cap': 907440069733.2333, 'total...",2022-10-21T09:06:59.999Z

In [26]:
# let's consider price conversion tool, by using the latest market rate:
tool=cmc.tools_priceconversion(amount=100, symbol='ETH',convert='USD')
df_tool = pd.DataFrame(tool.data)
display(df_tool)

,id,symbol,name,amount,last_updated,quote
USD,1027,ETH,Ethereum,100,2022-10-21T09:11:00.000Z,"{'price': 127770.3121535031, 'last_updated': '..."

In [27]:
# In order to use partners endpoints, we have to use FCAS (fundamental crypto asset score) latest listings:
FCAS_listing = cmc.partners_flipsidecrypto_fcas_listings_latest()

In [28]:
df_fcas = pd.DataFrame(FCAS_listing.data)
df_fcas.head()

,id,name,symbol,slug,score,grade,last_updated
0,1027,Ethereum,ETH,ethereum,969,S,2021-09-05T00:00:00Z
1,2010,Cardano,ADA,cardano,966,S,2021-09-05T00:00:00Z
2,4943,Dai,DAI,multi-collateral-dai,949,S,2021-09-05T00:00:00Z
3,2308,Single Collateral DAI,SAI,single-collateral-dai,942,S,2019-11-29T00:00:00Z
4,1975,Chainlink,LINK,chainlink,930,S,2021-09-05T00:00:00Z

In [32]:
FCAS_quote = cmc.partners_flipsidecrypto_fcas_quotes_latest(symbol='ETH')

In [33]:
df_fcas_quote = pd.DataFrame(FCAS_quote.data)
df_fcas_quote.head()

                                     ETH
grade                                  S
id                                  1027
last_updated        2021-09-05T00:00:00Z
name                            Ethereum
percent_change_24h             -0.103093